.ml-lg{margin-left:25px}
.mt-lg{margin-top:25px}
.mr-lg{margin-right:25px}
.mb-lg{margin-bottom:25px}
.mt-md{margin-top:15px}
.ml-md{margin-left:15px}
.mr-md{margin-right:15px}
.mb-md{margin-bottom:15px}
.ml-sm{margin-left:5px}
.mt-sm{margin-top:5px}
.mb-sm{margin-bottom:5px}
.mr-sm{margin-right:5px}

.inline{display:inline-block}
.block{display:block}
.fl{float:left}
.fr{float:right}
.pointer{cursor:pointer}